langchain
langchain-community
langchain-core
transformers
mkdocs
mkdocstrings-python
neo4j
redis
qdrant-client
langchain-qdrant
torch
pytest
langchain-huggingface
langchain-openai
langchain-cohere
numpy<2.0.0
accelerate>=0.26.0
